---
import BaseLayout from "../layout/BaseLayout.astro";
import PageLayout from "../layout/PageLayout.astro";
---

<BaseLayout title="home">
    <PageLayout>
        <h2>Stories</h2>
    </PageLayout>
</BaseLayout>
