<section class="book">
    <article class="content">
        <div class="left">
            <h1>Nebula's Storybook</h1>
            <p class="drop">
                Hello and welcome! This website contains some stories & other
                fictional things I write in my freetime. I also upload all my
                fanfiction onto AO3.
            </p>
            <p>
                All of my stories are on the right. Click on one to read it.
                Unfortunately, there's no search and I'm lazy and probably will
                never implement one.
            </p>
            <p>
                This website isn't responsive, and was developed in Firefox on a
                1920x1080 laptop monitor.
            </p>
            <p>
                All of the code for this website is available on my <a
                    href="https://github.com/marcusleonas/neocities-writing"
                    >github</a
                >. It is built using my favorite static site generator, <a
                    href="https://astro.build">Astro</a
                >.
            </p>
            <p>
                This site is hosted on <a href="https://neocities.org"
                    >neocities</a
                >!
            </p>
            <p>
                Ready to turn back? <a href="https://n3bula.lol"
                    >Return to the Forest</a
                >.
            </p>
            <p>
                <strong>
                    This website is heavily under construction, and depending on
                    when you're reading this there may be no stories on the
                    right. It's something I'm planning to do more! See my <a
                        href="https://n3bula.lol/blog/new-year-resolutions-2026/"
                        >"New Year Resolutions 2026"</a
                    > blog post for a deeper dive into what I want to achive this
                    year.
                </strong>
            </p>
        </div>
        <div class="right">
            <slot />
        </div>
    </article>
</section>
